.header
{
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 10px 10px 10px 5px grey;
    
}
.navlinks
{
    padding-top: 30px;
    font: bold;

}
.header h1{
    color: blue;
}
.header a 
{
    text-decoration: none;
    color: black;
    margin: 0px 10px
}


.main
{

margin-top: 10px;
    background-color: pink;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.btn {
    /* margin-top: 20px; */
    padding-top: 0%;
}

button {
    background-color: #3490dc;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.footer h3
{
    text-align: center;
    font-size: 35px;
}

.grid
{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    gap: 10px;
}

.flashcard
{
    background-color: whitesmoke;
    box-shadow:4px 4px 4px 4px grey ;
    text-align: center;
    
}
